// Montserrat
@font-face {
    font-family: Montserrat-Regular;
    src: url(/styles/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(/styles/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(/styles/fonts/Montserrat/Montserrat-Bold.ttf);
}



// Roboto
@font-face {
    font-family: RobotoCondensed-Light;
    src: url(/styles/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url(/styles/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}